<title>Jugar - PreguntadORT</title>
  <section class="fondo3 fondos">
    <!-- usuario -->
    <section class="usuariopuntaje">
      <div class="usuario">
        <div class="circle-container"></div>
        <p>@ViewBag.Username</p>
      </div>
      <div class="puntaje usuario">
        <p>@ViewBag.PuntajeActual</p>
        <img src="/imagenes/estrella.png">
      </div>
    </section>
    <!-- fin usuario -->

    <div class="pregunta"><h3>@ViewBag.PreguntaActual.Enunciado</h3></div>
    <form method="post" action='@Url.Action("Jugar")' required>
      <div class="respuestas">
        @foreach (Respuesta item in ViewBag.RespuestaActual)
         {
          <input type="radio" class="btn-check" name="respuesta" value="@item.IdRespuesta" id="@item.Contenido" required>
          <label for="@item.Contenido" class="respuestasE"><p>@item.Contenido</p></label>
        }
      </div>
      <br><div class="contenido"><input type="submit" value="Verificar" class="btn btn-outline-dark"></div>
    </form>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  </section>
  